name: Create GitHub Release

on:
  push:
    branches:
      - master

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: work around permission issue
        run: git config --global --add safe.directory /github/workspace

      - name: Checkout
        uses: actions/checkout@v3

      - name: Create GitHub Release
        id: release
        if: github.event_name == 'push' || github.event.pull_request.merged == true
        uses: heitorpolidoro/auto-release@v1
        with:
          version_file: polidoro_question/__init__.py
        env:
          GITHUB_TOKEN: ${{ secrets.HEITORPOLIDORO_PAT }}